.contactUs {
    padding: 75px 0;
    background-color: rgba(105, 80, 255, 0.1607843137254902);
}

.contactUs .image-sec {
    position: relative;
    width: 100%;
}

.contactUs .image-sec .man {
    width: 90%;
}

.contactUs .image-sec .inner-img {
    position: absolute;
    right: 25px;
    top: -20px;
}

.contactUs .image-sec .inner-img img {
    width: 90px;
    animation: pulser 2s infinite ease-in-out alternate;
}

@keyframes pulser {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}

.contactUs .image-sec .inner-imge {
    position: absolute;
    z-index: -1;
    left: 70px;
    top: -15px;
    animation: shaking 25s ease infinite;
}

@keyframes shaking {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

.contactUs .contactTitle h5 {
    text-align: center;
    font-size: 14px;
    padding: 5px;
    width: 100px;
    background-color: #6950ff;
    border-radius: 5px;
    color: #fff;
}

.contactUs .contactTitle h2 {
    color: #39364e;
    font-weight: 800;
    margin: 25px 0;
}

.contactUs #register-form input {
    background-color: transparent;
    border: 1px solid #6950ff;
    transition: .5s;
    padding: 10px 25px;
    color: #0D0E14;
    margin-bottom: 30px;
    border-radius: 5px;
    width: 100%;
}


.contactUs #register-form textarea {
    background-color: transparent;
    border: 1px solid #6950ff;
    transition: .5s;
    padding: 15px 25px;
    width: 100%;
    border-radius: 5px;
}

.contactUs #register-form button {
    background-color: #6950ff;
    padding: 10px 25px;
    border-radius: 5px;
    border: 1px solid #6950ff;
    color: #fff;
    transition: 0.7s;
}

.contactUs #register-form button:hover {
    box-shadow: inset 9em 0 0 0  #39364e;
    color: #fff;
}

.contactUs #register-form input:focus {
    border: 2px solid #4f37d6;
}